html

{

    -moz-user-select     : none;

    -khtml-user-select   : none;

    -webkit-user-select  : none;

    -o-user-select       : none;

    user-select          : none;

}

#transwhite
{
	/**/
	border: 2px solid #F36F21;
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 0px;

}

#transwhite1
{
	/**/
	border: 2px solid #F36F21;
	background-color: rgb(255, 255, 255, 0.95);
	border-radius: 0px;

}

#transwhite2
{
	/**/
	border: 2px solid #F36F21;
	background-color: #FFF;
	border-radius: 0px;

}

.style1 {
	color: #FF0000;
	font-weight: bold;
	font-size: 14px;
}
.style4 {color: #FF33CC}
.style6 {
	font-weight: bold;
	color: #FF0000;
	font-size: 18px;
}
.style7 {font-size: 14px}
.style8 {
	font-weight: bold;
	color: #CC0000;
	font-size: 18px;
	font-style: italic;
}
.style10 {
	font-size: 18px;
	color: #990000;
	font-weight: bold;
}

#simscreen

{

	position: relative;

	left:0px;

	top:0px;

	height: 600px; 

	width:800px;

	border:solid 1px;
	
	background-color: #dce5ec;
}



#title{

	position:relative;

	left: 0px;

	top: 0px;

	height:40px;

	font-size: 20px;

	text-align:center;

	background-color: #ff6600;

	font-family: verdana;

	color: White;

	text-transform: uppercase; 

}



#title h3

{

	padding-top:8px;
font-size: 20px;

	margin:0px;

}



.simsubscreen

{

	position:absolute;

	left:0px;

	top:40px;

	height:558px;

	width:798px;

	background-color: #dce5ec;

	/*background-position: bottom;

	background-image: url(images/bg.jpg); */

}



.incanvas

{

	margin:10px 0 0 10px;

	padding:0;

}



#nextButton

{

	position:absolute;

	left:750px;

	top:530px;

	cursor:pointer;

}



.circlebg

{

	border-radius:100%;

	font-size:25px;

	color:#fff;

	text-align:center;

	background:#000

}



.steptext
{

	display:inline;

	font-size:14px;

}



/* Chrome, Safari, Opera */

@-webkit-keyframes block1_add

{

	0% { left: 600px; }

	100% {left:520px; }

}


/* Standard syntax */

@keyframes block1_add

{
   0% { left: 600px; }

	100% {left:520px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes block2_add

{
	0% { left: 706px; }

	100% {left:626px; }
	
}


/* Standard syntax */

@keyframes block2_add

{

	0% { left: 706px; }

	100% {left:626px; }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes block1_fix

{

	0% {left: 520px; top: 370px; }

	35% {left:520px; top:260px; }

	70% {left:25px; top:260px; }

	100% {left:25px; top:280px; }

}


/* Standard syntax */

@keyframes block1_fix

{

	0% {left: 520px; top: 370px; }

	35% {left:520px; top:260px; }

	70% {left:25px; top:260px; }

	100% {left:25px; top:280px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes block2_fix

{

	0% { left: 626px; top: 370px; }

	35% {left:626px; top:260px; }

	70% {left:390px; top:260px; }

	100% {left:390px; top:280px; }

}


/* Standard syntax */

@keyframes block2_fix

{

	0% { left: 626px; top: 370px; }

	35% {left:626px; top:260px; }

	70% {left:390px; top:260px; }

	100% {left:390px; top:280px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes shaker_add

{

	0% { left: 800px; }

	100% {left: 550px; }

}


/* Standard syntax */

@keyframes shaker_add

{

	0% { left: 800px; }

	100% {left: 550px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes shaker_wire_add

{

	0% { left: 875px; }

	100% {left: 625px; }

}


/* Standard syntax */

@keyframes shaker_wire_add

{

	0% { left: 875px; }

	100% {left: 625px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes shaker_fix

{

	0% { left: 550px; top: 392px; }

	35% {left:550px; top:135px; }

	70% {left:205px; top:135px; }

	100% {left:205px; top:296px; }

}


/* Standard syntax */

@keyframes shaker_fix

{

	0% { left: 550px; top: 392px; }

	35% {left:550px; top:135px; }

	70% {left:205px; top:135px; }

	100% {left:205px; top:296px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes shaker_wire_fix

{

	0% { left: 625px; top: 396px; }

	35% {left:625px; top:139px; }

	70% {left:280px; top:139px; }

	100% {left:280px; top:300px; }

}


/* Standard syntax */

@keyframes shaker_wire_fix

{

    0% { left: 625px; top: 396px; }

	35% {left:625px; top:139px; }

	70% {left:280px; top:139px; }

	100% {left:280px; top:300px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes beam_add

{

	0% { left: 900px; top: 130px; }

	50% {left:-7px; top:130px; }

	100% {left:-7px; top:230px; }

}


/* Standard syntax */

@keyframes beam_add

{

	0% { left: 900px; top: 130px; }

	50% {left:-7px; top:130px; }

	100% {left:-7px; top:230px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes bond_add

{

	0% { left: 720px; }

	100% { left: 600px; }

}


/* Standard syntax */

@keyframes bond_add

{

	0% { left: 720px; }

	100% { left: 600px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes brushfill_add

{

	0% { left: 730px; }

	100% { left: 610px; }

}


/* Standard syntax */

@keyframes brushfill_add

{

	0% { left: 730px; }

	100% { left: 610px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes apply_bond

{

	0% { left: 609px; top: 316px; }

	25% {left:609px; top:75px; }

	50% {left:230px; top:75px; }

	75% {left:230px; top:133px; }

	100% {left:278px; top:133px; }

}


/* Standard syntax */

@keyframes apply_bond

{

	0% { left: 609px; top: 316px; }

	25% {left:609px; top:75px; }

	50% {left:230px; top:75px; }

	75% {left:230px; top:133px; }

	100% {left:278px; top:133px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes greaseeffect

{

	0% { width: 10px; }

	100% { width: 60px; }

}


/* Standard syntax */

@keyframes greaseeffect

{

	0% { width: 10px; }

	100% { width: 60px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes brush_handback

{

	0% { left: 278px; top: 138px; }

	50% {left:610px; top:138px; }

	100% {left:610px; top:323px; }

}


/* Standard syntax */

@keyframes brush_handback

{

	0% { left: 278px; top: 138px; }

	50% {left:610px; top:138px; }

	100% {left:610px; top:323px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes pzt_add

{

	0% { left: 740px; }

	100% { left: 680px; }

}


/* Standard syntax */

@keyframes pzt_add

{

	0% { left: 740px; }

	100% { left: 680px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes pzt_fix

{

	0% { left: 680px; top: 408px; }

	35% {left:680px; top:185px; }

	70% {left:237px; top:185px; }

	100% {left:237px; top:237px; }

}


/* Standard syntax */

@keyframes pzt_fix

{

	0% { left: 680px; top: 408px; }

	35% {left:680px; top:185px; }

	70% {left:237px; top:185px; }

	100% {left:237px; top:237px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes bond_back

{

	0% { left: 600px; }

	100% { left: 780px; }

}


/* Standard syntax */

@keyframes bond_back

{

	0% { left: 600px; }

	100% { left: 780px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes brush_back

{

	0% { left: 610px; }

	100% { left: 790px; }

}


/* Standard syntax */

@keyframes brush_back

{

	0% { left: 610px; }

	100% { left: 790px; }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes pzt_black_add

{

	0% { left: 827px; }

	100% { left: 527px; }

}


/* Standard syntax */

@keyframes pzt_black_add

{

	0% { left: 827px; }

	100% { left: 527px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes pzt_red_add

{

	0% { left: 832px; }

	100% { left: 532px; }

}


/* Standard syntax */

@keyframes pzt_red_add

{

	0% { left: 832px; }

	100% { left: 532px; }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes soldrod_add

{

	0% { left: 712px; }

	100% { left: 558px; }

}


/* Standard syntax */

@keyframes soldrod_add

{

	0% { left: 712px; }

	100% { left: 558px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes soldstand_add

{

	0% { left: 704px; }

	100% { left: 550px; }

}


/* Standard syntax */

@keyframes soldstand_add

{

	0% { left: 704px; }

	100% { left: 550px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes rod_wire_add

{

	0% { left: 793px; }

	100% { left: 639px; }

}


/* Standard syntax */

@keyframes rod_wire_add

{

	0% { left: 793px; }

	100% { left: 639px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes pzt_blackfix

{

	0% { left: 527px; top: 435px; transform: rotate(-134deg); }

	50% {left: 184px; top: 435px; transform: rotate(-134deg); }

	100% {left: 184px; top: 241px; transform: rotate(-0deg); }


}


/* Standard syntax */

@keyframes pzt_blackfix

{

	0% { left: 527px; top: 435px; transform: rotate(-134deg); }

	50% {left: 184px; top: 435px; transform: rotate(-134deg); }

	100% {left: 184px; top: 241px; transform: rotate(-0deg); }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes pzt_redfix

{

	0% { left: 532px; top: 440px; transform: rotate(-134deg); }

	50% {left: 209px; top: 440px; transform: rotate(-134deg); }

	100% {left: 209px; top: 242px; transform: rotate(0deg); }


}


/* Standard syntax */

@keyframes pzt_redfix

{

	0% { left: 532px; top: 440px; transform: rotate(-134deg); }

	50% {left: 209px; top: 440px; transform: rotate(-134deg); }

	100% {left: 209px; top: 242px; transform: rotate(0deg); }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes lcrmeter_add

{

	0% { left: 730px; }

	100% { left: 30px; }

}


/* Standard syntax */

@keyframes lcrmeter_add

{

	0% { left: 730px; }

	100% { left: 30px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes lcr_wire_add

{

	0% { left: 902px; }

	100% { left: 202px; }

}


/* Standard syntax */

@keyframes lcr_wire_add

{

	0% { left: 902px; }

	100% { left: 202px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes off_screen_add

{

	0% { left: 774px; }

	100% { left: 74px; }

}


/* Standard syntax */

@keyframes off_screen_add

{

	0% { left: 774px; }

	100% { left: 74px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes lcr_black_add

{

	0% { left: 875px; }

	100% { left: 175px; }

}


/* Standard syntax */

@keyframes lcr_black_add

{

	0% { left: 875px; }

	100% { left: 175px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes lcr_red_add

{

	0% { left: 884px; }

	100% { left: 184px; }

}


/* Standard syntax */

@keyframes lcr_red_add

{

	0% { left: 884px; }

	100% { left: 184px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes redclipclose_add

{

	0% { left: 876px; }

	100% { left: 176px; }

}


/* Standard syntax */

@keyframes redclipclose_add

{

	0% { left: 876px; }

	100% { left: 176px; }
}




/* Chrome, Safari, Opera */

@-webkit-keyframes blackclipclose_add

{

	0% { left: 857px; }

	100% { left: 157px; }

}


/* Standard syntax */

@keyframes blackclipclose_add

{

	0% { left: 857px; }

	100% { left: 157px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes amplifire_add

{

	0% { left: 740px; }

	100% { left: 540px; }

}


/* Standard syntax */

@keyframes amplifire_add

{

	0% { left: 740px; }

	100% { left: 540px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes ampli_wire_add

{

	0% { left: 934px; }

	100% { left: 734px; }

}


/* Standard syntax */

@keyframes ampli_wire_add

{

	0% { left: 934px; }

	100% { left: 734px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes genrator_add

{

	0% { left: 739px; }

	100% { left: 539px; }

}


/* Standard syntax */

@keyframes genrator_add

{

	0% { left: 739px; }

	100% { left: 539px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes function_wire_add

{

	0% { left: 915px; }

	100% { left: 715px; }

}


/* Standard syntax */

@keyframes function_wire_add

{

	0% { left: 915px; }

	100% { left: 715px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes gen_ampli_add

{

	0% { left: 759px; }

	100% { left: 559px; }

}


/* Standard syntax */

@keyframes gen_ampli_add

{

	0% { left: 759px; }

	100% { left: 559px; }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes yellow_circle_add

{

	0% { left: 780px; }

	100% { left: 580px; }

}


/* Standard syntax */

@keyframes yellow_circle_add

{

	0% { left: 780px; }

	100% { left: 580px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes shak_ampli_add

{

	0% { left: 472px; }

	100% { left: 272px; }

}


/* Standard syntax */

@keyframes shak_ampli_add

{

	0% { left: 472px; }

	100% { left: 272px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes red_circle_add

{

	0% { left: 463px; }

	100% { left: 263px; }

}


/* Standard syntax */

@keyframes red_circle_add

{

	0% { left: 463px; }

	100% { left: 263px; }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes blackclipclose_move

{

	0% { top: 378px; left: 157px; }

	100% { top: 339px;  left: 157px;}

}


/* Standard syntax */

@keyframes blackclipclose_move

{

	0% { top: 378px; left: 157px; }

	100% { top: 339px;left: 157px; }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes line_black_move

{

	0% {
    top: 414px;
    height: 1px; }

	100% { top: 366px;
    height: 50px;
            /*top: 374px;
    height: 41px;*/
    }

}


/* Standard syntax */

@keyframes line_black_move

{

	0% {
    top: 414px;
    height: 1px;}

	100% { 
            top: 366px;
    height: 50px;
    }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes blackclipopen_move

{

	0% { top: 339px;  }

	100% { top: 333px;  }

}


/* Standard syntax */

@keyframes blackclipopen_move

{

	0% { top: 339px;  }

	100% { top: 333px; }
}



/* Chrome, Safari, Opera */

@-webkit-keyframes line_red_move

{

	0% {
    top: 398px;
    left: 186px;
    height: 15px;}

	100% { top: 336px;
    left: 195px;
    height: 80px;
    }

}

/* Chrome, Safari, Opera */

@-webkit-keyframes redclipopen_move

{

	0% { top: 339px;  }

	100% { top: 333px;  }

}


/* Chrome, Safari, Opera */

@-webkit-keyframes redclipclose_move

{

	0% { top: 380px; left: 175px; }

	100% { top: 330px; left: 189px;}

}


/* Standard syntax */

@keyframes redclipclose_move

{

	0% { top: 380px; left: 175px; }

	100% { top: 330px; left: 189px;}
}


/*//////meenakshi*/
@-webkit-keyframes yellow_circle_attach
{
	0% { top: 363px; left: 580px; }
	100% { top: 320px; left: 595px; }
}
@-webkit-keyframes yellow_color_wire
{
	0% {left: 587px;top: 370px;height: 19px;}
	100% {left: 595px;top: 330px;height: 46px;}
}
/*//////////////////*/
@-webkit-keyframes red_circle_attach
{
	0% { top: 436px; left: 263px; }
	100% { top: 351px; left: 256px; }
}
@-webkit-keyframes red_color_wire
{
	0% {left: 272px;top: 443px;height: 4px;transform: rotate(-7deg);}
	100% {left: 268px;top: 364px;height: 84px;transform: rotate(-7deg);}
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -3px, 0);
  }
  20%, 80% {
    transform: translate3d(0, 0px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(0, -3px, 0);
  }
  40%, 60% {
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes graph_up1{
  10%
  {
    left: 0px;
  }
   
  100%
  {
    left: 310px;
  }
}




/*////////meenakshi////////////*/
@keyframes soldring
{
	0% { left: 558px; top: 231px;}
	50% {left: 608px; top: 151px; }
	100% {left: 309px; top: 57px;}
}
@keyframes silverhand_canvas1
{
	0% { left: 107px; top: 194px; }
	100% {left: 187px; top: 121px;}
}
@keyframes soldring_red
{
	0% { left: 309px; top: 57px;}
	50% {left: 359px; top: 39px; }
	100% {left: 352px; top: 60px;}
}
@keyframes silverhand_canvas1_red
{
	0% { left: 187px; top: 121px;}
	50% {left: 167px; top: 91px;}
	100% {left: 230px; top: 121px;}
}
@keyframes soldring_back
{
	0% { left: 352px; top: 60px;}
	50% {left: 608px; top: 151px; }
	100% {left: 558px; top: 231px;}
}
@keyframes silverhand_canvas1_back
{
	0% { left: 230px; top: 121px;}
	100% {left: 107px; top: 194px;}
}








/*======================================================*/

/*start Blinking*/

.blink_me {
  animation: blinker 1s linear infinite;
  color: #2150a0;
}

@keyframes blinker {
  50% {
  	color: #2150a0;
    opacity: 0;
  }
}






/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

/*
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
*/
